.container {
    max-width: 1540px;
    margin: 0 auto;
}
.staffs {
    width: 65%;
    margin: 60px auto;
}
.staffs__title {
    font-size: 24px;
    font-weight: bold;
    border-left: 8px solid black;
    padding-left: 16px;
}
table {
    background-color: white;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
}
th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-weight: normal;
    padding: 10px;
}
td {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
.link {
    font-weight: bold;
}