.container {
    max-width: 1540px;
    margin: 140px auto;
    text-align: center;
}
.status {
    background-color: #ddd;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 24px;
    letter-spacing: 3px;
}
.data {
    font-size: 30px;
    margin-bottom: 26px;
}
.time {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 60px;
}
.btn {
    background-color: black;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    letter-spacing: 3px;
}
.break {
    background-color: white;
    color: black;
    padding: 10px 38px;
}
.text {
    font-weight: bold;
    font-size: 20px;
}
form {
    display: inline-block;
}