.header {
    background-color: black; 
}
.header__container {
    max-width: 1540px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
li {
    color: white;
    padding-right: 20px;
}
body {
    background-color: rgb(237, 236, 236);
}