.container {
    max-width: 1540px;
    margin: 0 auto;
}
.requests {
    width: 65%;
    margin: 60px auto;
}
.request__title {
    font-size: 24px;
    font-weight: bold;
    border-left: 8px solid black;
    padding-left: 16px;
    margin-bottom: 70px;
}
.border a {
    padding: 0 30px;
}
.border {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}
tr {
    padding: 10px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}
tr:last-child {
    border-bottom: none;
}
th, td {
    text-align: center;
    padding: 10px;
    font-weight: normal;
}
.detail {
    font-weight: bold;
}

@media(min-width: 768px) and (max-width: 1000px) {
    th, td {
        font-size: 10px;
    }
}